@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 375px;
  background-color: #ff99fc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: radial-gradient(
      at 18% 13%,
      hsla(263, 97%, 66%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 83% 72%, hsla(81, 91%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 25%, hsla(157, 96%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 92% 86%, hsla(342, 83%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 1%, hsla(120, 73%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 62%, hsla(156, 63%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 9% 15%, hsla(227, 71%, 69%, 1) 0px, transparent 50%);
}
